[{
    "currency": "Monero",
    "protocol": "stratum-monero",
    "wallet":"41ssDghM2vkiyk9m6c3WgbNjBsnse8xni3o6xz2uC9eeJK9FfLebMtvQNyPLxJ8DvA1wt9Qw6ycPCZ5agXKXht1272uMYF2.test+10000",
    "pool_list": [
      {
        "host": "pool.minexmr.com",
        "port": "4444",
        "use_tls": false,
        "pool_weight": 999
      }
    ],
    "solvers": [
       {"cpu": {"affine_to_cpu": 0}},
       {"cpu": {"affine_to_cpu": 2}}
    ]
}]
